@import "tailwindcss";



@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .tab-trigger {
    @apply border-b-2 border-transparent text-gray-500 rounded-none px-6 py-4;
    @apply data-[state=active]:border-blue-500 data-[state=active]:text-gray-900 data-[state=active]:font-semibold data-[state=active]:bg-transparent;
  }
}
